.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.wrapper {
    background-color: var(--softBg);
    padding: 150px 200px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    border-radius: 10px;
}

.socialButton {
    display: grid;
    place-items: center;
    padding: 20px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
}

.socialButton:first-of-type {
    background-color: #ff5555;
}

.socialButton:nth-of-type(2) {
    background-color: #222;
}

.socialButton:last-of-type {
    background-color: #087bea;
}

@media screen and (max-width: 768px) {
    .wrapper {
        padding: 50px 100px;
    }
}

@media screen and (max-width: 640px) {
    .wrapper {
        padding: 30px;
    }

    .socialButton {
        font-size: 14px;
        font-weight: 400;
    }
}